<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.dbventasConnectionString" connectionString="Data Source=bdventas-zonadigital-83.database.windows.net;Initial Catalog=dbventas;User ID=serveradminzd;Password=servidor@zonadigital83" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
