<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CapaDatos.Properties.Settings.Cn" connectionString="Data Source=bdventas-zonadigital-83.database.windows.net;Initial Catalog=dbventas;Persist Security Info=True;User ID=serveradminzd;Password=servidor@zonadigital83 publicNetworkAccess Enabled" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>